# Data Type

Explore integers, floats, booleans, and strings.

## Introduction

Dalam pemrograman, tipe data merupakan konsep yang penting. Variabel dapat menyimpan data dengan tipe berbeda, dan tipe berbeda dapat melakukan hal berbeda. Python memiliki tipe data bawaan berikut secara default, yaitu:
1. Text Type        :	str
2. Numeric Types    :	int, float, complex
3. Boolean Type     :	bool
4. Sequence Types   :	list, tuple, range
5. Mapping Type     :	dict
6. Set Types        :	set, frozenset
7. Binary Types     :	bytes, bytearray, memoryview
8. None Type        :	NoneType

## Text Type

### String

Tipe data string adalah kumpulan karakter (seperti huruf alfabet, tanda baca, angka numerik, atau simbol) yang terdapat dalam tanda kutip.  String dalam python diapit oleh tanda kutip tunggal atau tanda kutip ganda seperti 'halo' sama dengan "halo". String biasanya digunakan untuk mewakili teks. Kita dapat menampilkan string menggunakan fungsi print().

In [2]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

w adalah variabel yang menyimpan string "Hello, Python!". Kode kemudian mencetak nilai dari variabel w. Kemudian, tipe data dari variabel w dicetak menggunakan fungsi type().

In [3]:
print(len(w))

14

Kita juga dapat menampilkan panjang string dengan fungsi len(). "Hello, Python!" memiliki panjang 14, karena memiliki 14 karakter, termasuk spasi, koma, dan tanda seru. Tanda kutip tidak disertakan saat menghitung panjangnya.

In [4]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

Panjang string juga dapat berisi 0 dengan cara diapit oleh tanda petik

In [5]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

Walaupun variabel my_number berisi angka desimal (float), namun variabel tersebut bertipe data string karena diapit oleh tanda petik

In [6]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

Untuk mengubah tipe data variabel my_number menjadi float, dapat menggunakan fungsi float(). Namun kita tidak dapat mengubah "Hello world!" menjadi float karena bukan berupa angka

In [7]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

Kita dapat menjumlahkan string menggunakan tanda (+) seperti pada int dan float. Pada string diperoleh output berupa gabungan dari kedua string yang dijumlahkan

In [8]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

Kita tidak mungkin melakukan pengurangan atau pembagian dengan dua string. Kita juga tidak bisa mengalikan dua string, namun bisa mengalikan string dengan bilangan bulat. Hal ini menghasilkan string yang digabungkan dengan dirinya sendiri beberapa kali. Namun string tidak bisa dikalikan dengan bilangan desimal

In [9]:
will_not_work = "abc" * 3.

TypeError: can't multiply sequence by non-int of type 'float'

## Numeric Type

### 1. Integer

Bilangan bulat adalah bilangan yang tidak mempunyai bagian pecahan dan dapat bernilai positif (1, 2, 3, ...), negatif (-1, -2, -3, ...), atau nol (0).

In [1]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

Nilai dari variabel x adalah 14. Kemudian, nilai variabel x dicetak menggunakan fungsi print(). Tipe data dari variabel x dicetak menggunakan fungsi type(), yang mengembalikan jenis objek dari nilai yang diberikan. Dalam hal ini, itu akan mengembalikan <class 'int'>, yang berarti bahwa x adalah sebuah bilangan bulat (integer).

### 2. Float

Float, atau "bilangan floating point" adalah bilangan, positif atau negatif, yang mengandung satu atau lebih desimal.

In [2]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

nearly_pi adalah variabel yang menyimpan nilai yang sangat mendekati nilai dari pi (Ï€). Nilai nearly_pi dicetak menggunakan fungsi print(). Fungsi type() digunakan untuk mencetak tipe data dari variabel nearly_pi.

In [3]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

Float juga bisa didefinikan dari hasil pembagian bilangan bulat. almost_pi adalah variabel yang menyimpan hasil pembagian 22 dengan 7, yang mendekati nilai dari pi. Nilai dari variabel almost_pi dicetak menggunakan fungsi print(). Fungsi type() digunakan untuk mencetak tipe data dari variabel almost_pi.

In [4]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

Kita dapat memberi batasan jumlah digit di belakang koma menggunakan fungsi round(). rounded_pi adalah variabel yang menyimpan hasil pemanggilan fungsi round() pada variabel almost_pi, dengan jumlah angka desimal yang diinginkan, yaitu 5. Hasil dari pemanggilan fungsi round() pada almost_pi dicetak menggunakan fungsi print().
Fungsi type() digunakan untuk mencetak tipe data dari variabel rounded_pi

In [6]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

Walaupun tidak angka di belakang koma, jika menyertakan koma dalam angka maka angka tersebut akan terbaca sebagai float. y_float adalah variabel yang menyimpan nilai float, yaitu 1.0. Walaupun nilai yang diberikan hanya 1 (tanpa desimal), Python secara otomatis menganggapnya sebagai bilangan pecahan (float).Nilai dari variabel y_float dicetak menggunakan fungsi print(). Fungsi type() digunakan untuk mencetak tipe data dari variabel y_float.

### 3. Complex

Bilangan kompleks ditulis dengan huruf "j" sebagai bagian imajinernya

In [7]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Kode tersebut mendefinisikan tiga variabel kompleks: x, y, dan z. Variabel-variabel ini mewakili bilangan kompleks dengan bagian imajiner yang berbeda.
1. Variabel x menyimpan bilangan kompleks 3 + 5j, yang berarti memiliki bagian riil 3 dan bagian imajiner 5.
2. Variabel y menyimpan bilangan kompleks 0 + 5j, yang berarti memiliki bagian riil 0 dan bagian imajiner 5.
3. Variabel z menyimpan bilangan kompleks 0 - 5j, yang berarti memiliki bagian riil 0 dan bagian imajiner -5.

Setelah itu, tipe data dari setiap variabel dicetak menggunakan fungsi type().

## Boolean Type

Dalam pemrograman, kita sering kali perlu mengetahui apakah suatu ekspresi Benar atau Salah. Kita dapat mengevaluasi ekspresi apa pun dengan Python, dan mendapatkan salah satu dari dua jawaban, Benar atau Salah. Saat membandingkan dua nilai, ekspresi dievaluasi dan Python mengembalikan jawaban Boolean

In [10]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

z_one adalah variabel yang menyimpan nilai boolean True, yang menunjukkan kebenaran dari suatu kondisi. Nilai dari variabel z_one dicetak menggunakan fungsi print(). Fungsi type() digunakan untuk mencetak tipe data dari variabel z_one.

In [11]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

(5 < 3) adalah sebuah ekspresi logika yang mengevaluasi apakah 5 kurang dari 3. Karena 5 tidak kurang dari 3, hasil evaluasinya adalah False. Variabel z_four menyimpan nilai boolean False, karena ekspresi logika (5 < 3) menghasilkan False. Nilai dari variabel z_four dicetak menggunakan fungsi print(). Fungsi type() digunakan untuk mencetak tipe data dari variabel z_four.

In [12]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

not z_four adalah operasi logika yang mengubah nilai dari variabel boolean z_four. Jika z_four adalah True, hasilnya akan menjadi False, dan sebaliknya. Variabel z_five menyimpan nilai boolean yang merupakan kebalikan dari nilai z_four. Nilai dari variabel z_five dicetak menggunakan fungsi print(). Fungsi type() digunakan untuk mencetak tipe data dari variabel z_five.